<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>로그인 | Pinterest</title>
</head>
<body>

<main>
  <div style="text-align:center; max-width: 400px; margin:4rem auto">
    <div class="form-login w-100 m-auto">
      <form th:action="@{/members/login}" method="post">
        <h1 class="h3 mb-3 fw-normal">로그인</h1>

        <div class="form-floating">
          <input type="email" id="email" name="email" class="form-control" placeholder="name@example.com">
          <label for="email">이메일</label>
        </div>
        <div class="form-floating">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password">
          <label for="password">패스워드</label>
        </div>

        <div class="checkbox mb-3"></div>
        <button class="mb-2 w-100 btn btn-lg btn-primary" type="submit">로그인</button>
        <!--<button class="mb-2 w-100 btn btn-lg btn-success">네이버 로그인</button>
        <button class="mb-2 w-100 btn btn-lg btn-warning">카카오 로그인</button>-->
      </form>
    </div>
  </div>
</main>

</body>
</html>
