<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>보드 상세 | Pinterest</title>
</head>
<body>

<main>
  <div style="text-align: center; max-width: 500px; margin: 4rem auto 1.5rem auto;">
    <img th:src="${board.image}" alt=""
         style="height: 12rem; width: 12rem; border-radius: 1rem; margin-bottom: 2rem; object-fit: cover;">
    <h2 th:text="${board.title}">
      보드 이름
    </h2>
  </div>

  <div class="text-center mb-5">
    {% if user.is_authenticated %}
    {% if not subscription %}
    <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}"
       class="btn btn-primary rounded-pill px-4">
      Subscribe
    </a>
    {% else %}
    <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}"
       class="btn btn-dark rounded-pill px-4">
      Unsubscribe
    </a>
    {% endif %}
    {% endif %}
  </div>


  <!--magic grid-->
  <div class="article">
    <th:block th:if="${!articles.isEmpty()}">
      <div class="container">
        <th:block th:each="article: ${articles}">
          <a th:href="@{/articles/{articleId}(articleId=${article.id})}">
            <div style="display: block; text-align: center;">
              <img th:src="${article.image}" alt="">
              <h6 class="mt-2" th:text="${#strings.substring(article.title, 0, 8)}">
                article 이름
              </h6>
            </div>
          </a>
        </th:block>
      </div>
    </th:block>
    <th:block th:if="${articles.isEmpty()}">
      <div class="text-center">
        <h1>No Article YET!</h1>
      </div>
    </th:block>
    {% include 'snippets/pagination.html' with page_obj=page_obj %}
  </div>
  <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
</main>

</body>
</html>
