<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>보드 상세 | Pinterest</title>
</head>
<body>

<main>
  <div style="text-align: center; max-width: 500px; margin: 4rem auto 1.5rem auto;">
    <img th:src="${board.image}" alt=""
         style="height: 12rem; width: 12rem; border-radius: 1rem; margin-bottom: 2rem; object-fit: cover;">
    <h2 th:text="${board.title}">
      보드 이름
    </h2>
    <th:block
        th:if="${#authorization.expression('isAuthenticated()')} and ${board.getMemberDto().getEmail()} == ${#authentication.name}">
      <form th:action="@{/boards/{boardId}/delete(boardId=${board.id})}" th:method="post">
        <a class="material-icons"
           style="box-shadow: 0 0 4px #ccc; border-radius:10rem; padding: .4rem;"
           th:href="@{/boards/{boardId}/form(boardId=${board.id})}">
          edit</a>
        <button type="submit" class="material-icons"
                style="box-shadow: 0 0 4px red; border-radius:10rem; padding: .4rem;">
          cancel
        </button>
      </form>
    </th:block>
    <th:block th:unless="${#authorization.expression('isAuthenticated()')} and ${board.getMemberDto().getEmail()} == ${#authentication.name}">
      <form th:action="@{/subscribes}" method="post">
        <input type="hidden" class="boards-id" th:name="boardId" th:value="${board.id}">
        <th:block th:if="${subscribeCheck}">
          <button type="submit" class="btn btn-danger rounded-pill px-4">
            Subscribe Cancel
          </button>
        </th:block>
        <th:block th:unless="${subscribeCheck}">
          <button type="submit" class="btn btn-primary rounded-pill px-4">
            Subscribe
          </button>
        </th:block>

      </form>
    </th:block>
  </div>

  <!--magic grid-->
  <div class="article">
    <th:block th:if="${!articles.isEmpty()}">
      <div class="container">
        <th:block th:each="article: ${articles}">
          <a th:href="@{/articles/{articleId}(articleId=${article.id})}">
            <div style="display: block; text-align: center;">
              <img th:src="${article.image}" alt="">
              <h6 class="mt-2"
                  th:text="${article.title.length() > 8 ? #strings.substring(article.title, 0, 8) : article.title}">
                article 이름
              </h6>
            </div>
          </a>
        </th:block>
      </div>
    </th:block>
    <th:block th:if="${articles.isEmpty()}">
      <div class="text-center">
        <h1>No Article YET!</h1>
      </div>
    </th:block>
  </div>
  <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
</main>

</body>
</html>
