<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>보드 상세 | Pinterest</title>
</head>
<body>
<main class="article">
  <div class="relative isolate px-6 lg:px-8 mt-10">
    <h1 class="text-2xl font-bold text-center" th:text="${board.title}">보드 이름</h1>
    <th:block th:if="${#authorization.expression('isAuthenticated()')} and ${board.getMemberDto().getEmail()} == ${#authentication.name}">
      <form th:action="@{/boards/{boardId}/delete(boardId=${board.id})}" th:method="post">
        <div class="text-center mt-4">
          <a th:href="@{/boards/{boardId}/form(boardId=${board.id})}" class="inline-block rounded-full bg-gray-200 px-3.5 py-2.5 text-sm font-medium text-gray-700 hover:bg-gray-400 focus-visible:outline">수정</a>
          <button type="submit" class="inline-block rounded-full bg-gray-400 px-3.5 py-2.5 text-sm font-medium text-white hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">삭제</button>
        </div>
      </form>
    </th:block>
  </div>
  <div class="relative isolate px-6 lg:px-8">
    <div class="mt-8 mb-2" style="padding-left: 12%;">
      <span class="text-lg font-semibold" th:text="'핀 '+${articles.size()}+'개'">핀 0개</span>
    </div>
    <th:block th:if="${!articles.isEmpty()}">
      <div th:replace="~{base/snippets/article :: articleFragment(${articles})}"></div>
    </th:block>
  </div>
  <th:block th:if="${articles.isEmpty()}">
    <div class="absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#e03d48] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
           style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl py-10 sm:py-10 lg:py-20">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
          수집한 아이디어가 없습니다.
          <a th:href="@{/articles}" class="font-semibold text-red-600">
            <span class="absolute inset-0" aria-hidden="true"></span>아이디어 보러가기 <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
         aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#e03d48] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
           style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </th:block>
  <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
</main>
</body>
</html>
