<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>보드 상세 페이지| Pinterest</title>
</head>

<body>

<main class="board">
  <th:block th:if="${!boards.isEmpty()}">
    <div class="container">
      <th:block th:each="board: ${boards}">
        <a th:href="@{/boards/{boardId}(boardId=${board.id})}">
          <div style="display: block; text-align: center;">
            <img th:src="${board.image}" alt="">
            <h5 class="mt-2" th:text="${#strings.substring(board.title, 0, 8)}">
              보드 이름
            </h5>
          </div>
        </a>
      </th:block>
    </div>
  </th:block>
  <th:block th:if="${boards.isEmpty()}">
    <div class="text-center">
      <h1>생성된 Board 가 없습니다.</h1>
    </div>
  </th:block>
  {% include 'snippets/pagination.html' with page_obj=page_obj %}

  <div style="text-align:center;">
    <a th:href="@{/boards/create}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
      Board 만들기
    </a>
  </div>
  <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
</main>

</body>

</html>
