<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>보드 상세 페이지| Pinterest</title>
</head>

<body>

<main class="board">
  <div th:object="${boards}" class="row aos-init aos-animate py-2" data-aos="fade-up">
    <div class="col-lg-12 d-flex justify-content-center">
      <ul id="sort-tab">
        <a th:href="@{/boards(
            page=${boards.number},
            sort='title'+(*{sort.getOrderFor('title')} != null ? (*{sort.getOrderFor('title').direction.name} != 'DESC' ? ',desc': '') : ''))}">
          <li id="active-title" th:text="'제목'">제목</li>
        </a>
        <a th:href="@{/boards(
            page=${boards.number},
            sort='createdAt'+(*{sort.getOrderFor('createdAt')} != null ? (*{sort.getOrderFor('createdAt').direction.name} != 'DESC' ? ',desc': '') : ''))}">
          <li id="active-created" th:text="'작성일'">작성일</li>
        </a>
      </ul>
    </div>
  </div>

  <th:block th:if="${!boards.isEmpty()}">
    <div class="container">
      <th:block th:each="board: ${boards}">
        <a th:href="@{/boards/{boardId}(boardId=${board.id})}">
          <div style="display: block; text-align: center;">
            <img th:src="${board.image}" alt="">
            <h5 class="mt-2" th:text="${#strings.substring(board.title, 0, 8)}">
              보드 이름
            </h5>
          </div>
        </a>
      </th:block>
    </div>
    <div th:object="${boards}" style="margin: 1rem 0;" class="row aos-init aos-animate py-2" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="pagination">
          <a th:href="@{/boards(page=${boards.number - 1})}">
            <li>&laquo;</li>
          </a>
          <a th:each="page: ${pagination}"
             th:href="@{/boards(
               page=${page},
               sort=(*{sort.getOrderFor('title')} != null ?
               'title'+(*{sort.getOrderFor('title')} != null ? (*{sort.getOrderFor('title').direction.name} == 'DESC' ? ',desc': '') : '') :
               'createdAt'+(*{sort.getOrderFor('createdAt')} != null ? (*{sort.getOrderFor('createdAt').direction.name} == 'DESC' ? ',desc': '') : '')
               ))}">
            <li th:text="${page + 1}" th:class="(${page} == ${boards.number} ? 'filter-active' : '')">
              페이지
            </li>
          </a>
          <a th:href="@{/boards(page=${boards.number + 1})}">
            <li>&raquo;</li>
          </a>
        </ul>
      </div>
    </div>
  </th:block>
  <th:block th:if="${boards.isEmpty()}">
    <div class="text-center">
      <h1>생성된 Board 가 없습니다.</h1>
    </div>
  </th:block>

  <div style="text-align:center;">
    <a th:href="@{/boards/create}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
      Board 만들기
    </a>
  </div>
  <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
</main>

</body>

</html>
