<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>마이페이지 | Pinterest</title>
</head>
<body>

<main class="article">
  <div style="text-align: center; justify-content: center; max-width: 500px; margin: 4rem auto;">
    <p>
      마지막 로그인 시간
      <br>
      <th:block th:datetime="${profile.modifiedAt}"
                th:text="${#temporals.format(profile.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}">
        마지막 로그인 시간
      </th:block>
    </p>
    <!--if 프로필이 있을 경우-->
    <th:block th:if="${profile.image != null and profile.image != ''}">
      <img th:src="${profile.image}" alt=""
           style="height: 12rem; width: 12rem; border-radius:20rem; margin-bottom:2rem; object-fit: cover;">
    </th:block>
    <th:block th:if="${profile.image == null or profile.image == ''}">
      <div
          style="margin: 0 auto; height: 12rem; width: 12rem; border-radius:20rem; margin-bottom:2rem; font-size: 4rem; color:#ffffff; background-color: #4a5568; padding: 3rem 0;"
          th:text="${#strings.substring(profile.email, 0, 1)}">
        프로필 이니셜
      </div>
    </th:block>
    <h2>
      <th:block th:text="${profile.nickname}">프로필 이름</th:block>
      <th:block
          th:if="${#authorization.expression('isAuthenticated()')} and ${profile.email} == ${#authentication.name}">
        <a class="material-icons"
           style="box-shadow: 0 0 4px #ccc; border-radius:10rem; padding: .4rem;"
           th:href="@{/members/{memberId}/form(memberId=${profile.id})}">
          edit</a>
      </th:block>
    </h2>
    <th:block th:if="${profile.description != null and profile.description != ''}">
      <h5 style="margin-bottom:4rem;">
        <th:block th:text="${profile.description}">프로필 설명</th:block>
      </h5>
    </th:block>
  </div>

  <th:block th:if="${!articles.isEmpty()}">
    <div class="container">
      <th:block th:each="article: ${articles}">
        <a th:href="@{/articles/{articleId}(articleId=${article.id})}">
          <div>
            <img th:src="${article.image}" alt="">
          </div>
          <h6 class="mt-2" th:text="${article.title}">
            article 이름
          </h6>
        </a>
      </th:block>
    </div>
  </th:block>
  <th:block th:if="${articles.isEmpty()}">
    <div class="text-center">
      <h1>생성된 Article 이 없습니다.</h1>
    </div>
  </th:block>
  </div>
  <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
</main>

</body>
</html>
