spring:
  datasource:
    url: jdbc:mariadb://${HOST}:${PORT}/${DATABASE_NAME}?useSSL=false
    username: ${USERNAME}
    password: ${PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        default_batch_fetch_size: 100
    #  sql:
    #    init:
    #      mode: always
    data:
      rest:
        base-path: /api
        detection-strategy: annotated

management:
  endpoints:
    web:
      exposure:
        include: "*"
logging:
  level:
    com.pinterest: debug
    org.springframework.web.servlet: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
