<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>| Pinterest</title>
</head>
<style>
    .container {
        padding: 0;
        margin: 0 auto;
    }

    .container a {
        width: 45%;
        max-width: 250px;
    }

    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }
</style>

<body>

<main>
  {% if article_list %}
  <div class="container">

    {% for article in article_list %}
      <a th:href="@{/articles/1}">
      <!--<a th:href="@{/articles/{articleId}(articleId=${article.id})}">-->
      <!--<a href="{% url 'articleapp:detail' pk=article.pk %}">-->
        <div>
          <img src="{{ article.image.url }}" alt="">
        </div>
      </a>
    {% endfor %}
  </div>

  {% else %}
  <div class="text-center">
    <h1>구독한 Article 이 없습니다.</h1>
  </div>
  {% endif %}

  {% include 'snippets/pagination.html' with page_obj=page_obj %}
  <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
</main>

</body>
</html>
