<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>| Pinterest</title>
</head>
<style>
    .container {
        padding: 0;
        margin: 0 auto;
    }

    .container a {
        width: 45%;
        max-width: 250px;
    }

    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }
</style>

<body>

<main>
  <th:block th:if="${!boards.isEmpty()}">
    <div class="container">
      <th:block th:each="board: ${boards}">
        <a th:href="@{/boards/{boardId}(boardId=${board.id})}">
          <div style="display: block; text-align: center;">
            <img th:src="${board.image}" alt="">
            <h5 class="mt-2" th:text="${board.title.length() > 8 ? #strings.substring(board.title, 0, 8) : board.title}">
              보드 이름
            </h5>
          </div>
        </a>
      </th:block>
    </div>
  </th:block>
  <th:block th:if="${boards.isEmpty()}">
    <div class="text-center">
      <h1>구독한 Board 가 없습니다.</h1>
    </div>
  </th:block>


  <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
</main>

</body>
</html>
