<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="profileFragment(profile)">
  <th:block th:if="${profile.fileId == null}">
    <th:block th:if="${profile.image != null and profile.image != ''}">
      <img th:src="${profile.image}" alt="" class="w-10 h-10 object-cover rounded-full">
    </th:block>
    <th:block th:if="${profile.image == null or profile.image == ''}">
      <div class="w-10 h-10 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-900 text-sm font-bold"
           th:text="${#strings.substring(profile.email, 0, 1)}">프로필 이니셜</div>
    </th:block>
  </th:block>
  <th:block th:if="${profile.fileId != null}">
    <img th:src="|/attach/${profile.savedName}|" alt="" class="w-10 h-10 object-cover rounded-full">
  </th:block>
</th:block>
</body>
</html>
