.pragmatic_logo {
    font-family: 'Lobster', cursive;
}


.pragmatic_footer_button {
    font-size: .9rem;
}


.pragmatic_footer{
    text-align:center; margin-top:2rem;
}

.pragmatic_header {
    text-align:center;
    margin:2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;

    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.pragmatic_header_nav {
    margin: 0 0.5rem;
}

.pragmatic_header_navbar {
    margin: 1rem 0;
}

/* board */
.board .container {
    padding: 0;
    margin: 0 auto;
}

.board .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.board .container img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem;
}

/* article */
.article .container {
    padding: 0;
    margin: 0 auto;
}

.article .container a {
    width: 45%;
    max-width: 250px;
}

.article .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.article .container img {
    width: 100%;
    border-radius: 1rem;
}
