<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header>
  <div class="pragmatic_header">
    <div>
      <h1 class="pragmatic_logo">
        <a th:href="@{/}">Pinterest</a>
      </h1>
    </div>

    <div class="pragmatic_header_navbar">
      <a th:href="@{/articles}" class="pragmatic_header_nav">
        <span>Articles</span>
      </a>
      <a th:href="@{/boards}" class="pragmatic_header_nav">
        <span>Boards</span>
      </a>
      <a th:href="@{/subscribes}" class="pragmatic_header_nav">
        <span>Subscribe</span>
      </a>

      <!--로그인 전 start-->
      <th:block sec:authorize="!isAuthenticated()">
        <!--TODO:: Custom Login 페이지로 변경해야 함-->
        <a th:href="@{/login}" class="pragmatic_header_nav">
          <span>로그인</span>
        </a>
        <a th:href="@{/members/signup}" class="pragmatic_header_nav">
          <span>회원가입</span>
        </a>
      </th:block>
      <!--로그인 전 end-->

      <!--로그인 후 start-->
      <th:block sec:authorize="isAuthenticated()">
        <a th:href="@{/profile}" class="pragmatic_header_nav">
          <sapn>마이페이지</sapn>
        </a>
        <a th:href="@{/logout}" class="pragmatic_header_nav">
          <sapn>로그아웃</sapn>
        </a>
      </th:block>
      <!--로그인 후 end-->
    </div>
  </div>
</header>
</body>
</html>
