<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header>
  <div class="pragmatic_header">
    <div>
      <h1 class="pragmatic_logo">
        <a th:href="@{/}">Pinterest</a>
      </h1>
    </div>

    <div class="pragmatic_header_navbar">
      <a th:href="@{/articles}" class="pragmatic_header_nav">
        <span>Articles</span>
      </a>
      <a th:href="@{/boards}" class="pragmatic_header_nav">
        <span>Boards</span>
      </a>
      <a th:href="@{/subscribes}" class="pragmatic_header_nav">
        <span>Subscribe</span>
      </a>

      <!--로그인 전 start-->
      <a th:href="@{/members/login}" class="pragmatic_header_nav">
      <!--<a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="pragmatic_header_nav">-->
        <span>로그인</span>
      </a>
      <a th:href="@{/members/signup}" class="pragmatic_header_nav">
        <span>회원가입</span>
      </a>
      <!--로그인 전 end-->

      <!--로그인 후 start-->
      <a th:href="@{/profile}" class="pragmatic_header_nav">
      <!--<a href="{% url 'accountapp:detail' pk=user.pk%}" class="pragmatic_header_nav">-->
        <sapn>마이페이지</sapn>
      </a>
      <a th:href="@{/members/logout}" class="pragmatic_header_nav">
      <!--<a href="{% url 'accountapp:logout'%}?next={{ request.path}}" class="pragmatic_header_nav">-->
        <sapn>로그아웃</sapn>
      </a>
      <!--로그인 후 end-->
    </div>
  </div>
</header>
</body>
</html>
