<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>| Pinterest</title>
</head>
<body>
<main>
  <div class="max-w-5xl mx-auto h-auto overflow-hidden my-8 px-6 py-10 bg-white rounded-lg shadow-md grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <div class="flex sm:col-span-3 items-center">
      <img th:src="|/attach/${article.savedName}|" alt="" class="w-68 h-auto object-contain rounded-lg m-auto">
    </div>
    <div class="sm:col-span-3 flex-auto pl-6 m-4">
      <th:block th:if="${article.getMemberDto().getEmail()} == ${#authentication.name}">
        <form th:action="@{/articles/{articleId}/delete(articleId=${article.id})}" method="post">
          <div class="flex justify-end items-center bg-white">
            <button type="submit" class="rounded-full bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-red-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
              삭제
            </button>
          </div>
        </form>
      </th:block>
      <th:block th:if="${article.getMemberDto().getEmail()} != ${#authentication.name}">
        <th:block th:if="${articleLike == null}">
          <form th:action="@{/articleLikes/save}" method="post">
            <div class="flex justify-end items-center bg-white">
              <div class="flex items-center space-x-2">
                <input type="hidden" name="articleId" th:value="${article.id}">
                <select id="boardId" name="boardId" autocomplete="country-name"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <th:block th:each="board: ${myBoardList}">
                    <option th:value="${board.id}" th:text="${board.title}">
                      옵션
                    </option>
                  </th:block>
                </select>
              </div>
              <div class="ml-4">
                <button type="submit" class="rounded-full bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-red-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                  저장
                </button>
              </div>
            </div>
          </form>
        </th:block>
        <th:block th:if="${articleLike != null}">
          <form th:action="@{/articleLikes/{articleLikeId}/delete(articleLikeId=${articleLike.articleLikeId})}" method="post">
            <input type="hidden" id="articleId" name="articleId" th:value="${article.id}">
            <div class="flex justify-end items-center bg-white">
              <div class="flex items-center space-x-2">
                <a th:href="@{/boards/{boardId}(boardId=${articleLike.getBoardId()})}" class="text-lg border-b-2 px-2" th:text="${articleLike.getBoardTitle()}"></a>
              </div>
              <div class="ml-4">
                <button type="submit" class="rounded-full bg-black px-3.5 py-2.5 text-sm font-semibold text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                  저장됨
                </button>
              </div>
            </div>
          </form>
        </th:block>
      </th:block>
      <div class="items-start mt-2">
        <h2 class="text-2xl font-bold" th:text="${article.title}">핀 제목</h2>
        <p class="mt-2 text-sm text-gray-600" th:text="${article.hashtag}">해시태그</p>
      </div>
      <div class="text-left my-8" th:text="${article.content}">
        article 본문
      </div>
      <div class="flex items-baseline my-10">
        <div class="space-x-1 text-sm font-medium leading-none">
          <a th:href="@{/profiles/{email}(email=${article.getMemberDto().email})}">
            <div class="flex items-center space-x-3">
              <div th:replace="~{base/snippets/profile :: profileFragment(${article.getMemberDto()})}"></div>
              <div>
                <div class="text-sm font-semibold" th:text="${article.getMemberDto().nickname != null ? article.getMemberDto().nickname : article.getMemberDto().email}">작성자</div>
                <div class="text-xs text-gray-500" th:text="'팔로우 ' + ${#numbers.formatInteger(countToMember, 0, 'COMMA')} + '명'">팔로우 0명</div>
              </div>
            </div>
          </a>
        </div>
        <div class="ml-auto my-auto text-sm font-medium leading-none text-red-600">
          <th:block th:if="${follow == null}">
            <form th:action="@{/follows/create}" method="post">
              <input type="hidden" name="toMemberId" th:value="${article.getMemberDto().id}">
              <input type="hidden" name="articleId" th:value="${article.id}">
              <input type="hidden" name="type" value="articles">
              <button type="submit"
                 class="inline-flex items-center justify-center rounded-full bg-gray-200 px-3.5 py-2.5 text-sm font-semibold text-gray-900 hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                팔로우
              </button>
            </form>
          </th:block>
          <th:block th:if="${follow != null}">
            <form th:action="@{/follows/cancel/{followId}(followId=${follow.id})}" method="post">
              <input type="hidden" name="articleId" th:value="${article.id}">
              <input type="hidden" name="type" value="articles">
              <button type="submit"
                      class="inline-flex items-center justify-center rounded-full bg-black px-3.5 py-2.5 text-sm font-semibold text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                팔로잉
              </button>
            </form>
          </th:block>
        </div>
      </div>
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-lg font-semibold">댓글</h2>
      </div>
      <div class="space-y-4">
        <th:block th:if="${comments == null}">
          <p class="text-sm text-gray-500 mb-10">
            아직 댓글이 없습니다! 대화를 시작하려면 하나를 추가하세요.
          </p>
        </th:block>
        <th:block th:if="${comments != null}">
          <div class="flex items-start space-x-3 mb-2" th:each="comment: ${comments}">
            <div th:replace="~{base/snippets/profile :: profileFragment(${comment.getMemberDto()})}"></div>
            <div class="flex-1">
              <div class="flex items-center justify-between">
                <span class="text-sm font-bold" th:text="${comment.getMemberDto().nickname != null ? comment.getMemberDto().nickname : comment.getMemberDto().email}">닉네임</span>
                <span class="text-xs text-gray-500" th:datetime="${comment.createdAt}"
                      th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}">댓글 작성시간</span>
              </div>
              <p class="text-sm" th:text="${comment.content}">댓글 내용</p>
            </div>
          </div>
        </th:block>
        <div class="flex items-start space-x-3 mt-4">
          <div th:replace="~{base/snippets/profile :: profileFragment(${loginMember})}"></div>
          <div class="flex-1">
            <form th:action="@{/comments/create}" method="post">
              <input type="hidden" class="article-id" th:name="articleId" th:value="${article.id}">
              <div class="flex items-center space-x-4">
                <div class="flex-grow">
                  <input id="content" name="content"
                         class="flex h-10 w-full border border-input ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 rounded-full bg-gray-100 px-4 py-2 text-sm"
                         placeholder="댓글 추가">
                </div>
                <div class="flex items-center space-x-2">
                  <button type="submit"
                          class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 bg-red-500 text-white rounded-full p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="text-white">
                      <path d="m22 2-7 20-4-9-9-4Z"></path>
                      <path d="M22 2 11 13"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
