<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Article 만들기 | Pinterest</title>
</head>
<body>

<main>
  <div style="text-align:center; max-width: 400px; margin:4rem auto">
    <div class="form-signin w-100 m-auto">
      <form th:action="@{/articles/form}" method="post" enctype="multipart/form-data">
        <h1 class="h3 mb-3 fw-normal">Article 만들기</h1>
        <div class="form-floating">
          <select class="form-select" id="boardId" name="boardId">
            <option>== 옵션 ==</option>
            <th:block th:each="board: ${boards}">
              <option th:value="${board.getId()}" th:text="${board.getTitle()}">
                옵션
              </option>
            </th:block>
          </select>
          <label for="boardId">보드ID</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="title" name="title" placeholder="제목">
          <label for="title">제목</label>
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="설명" id="content" name="content" style="height: 100px"></textarea>
          <label for="content">설명</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="hashtag" name="hashtag" placeholder="해시태그">
          <label for="hashtag">해시태그</label>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label"></label>
          <!--<input class="form-control" type="file" id="image"/>-->
          <!--TODO: file 로 변경해야 함-->
          <!--<input class="form-control" type="file" id="image" name="image">-->
          <input class="form-control" type="text" id="image" name="image"
                 th:value="'http://dummyimage.com/272x289.png/cc0000/ffffff'">
        </div>
        <div class="mb-3"></div>
        <button class="btn btn-dark rounded-pill col-6 mt-3" type="submit">Article 만들기</button>
      </form>
    </div>
  </div>
</main>

</body>
</html>
