<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Articles | Pinterest</title>
</head>
<body>

<main class="article">
  <th:block th:if="${!articles.isEmpty()}">
    <div class="container">
      <th:block th:each="article: ${articles}">
        <a th:href="@{/articles/{articleId}(articleId=${article.id})}">
          <div>
            <img th:src="${article.image}" alt="">
          </div>
          <h6 class="mt-2" th:text="${#strings.substring(article.title, 0, 8)}">
            article 이름
          </h6>
        </a>
      </th:block>
    </div>
  </th:block>
  <th:block th:if="${articles.isEmpty()}">
    <div class="text-center">
      <h1>생성된 Article 이 없습니다.</h1>
    </div>
  </th:block>
  {% include 'snippets/pagination.html' with page_obj=page_obj %}

  <div style="text-align:center;">
    <a th:href="@{/articles/create}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
      Article 만들기
    </a>
  </div>
  <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
</main>

</body>
</html>
