<!DOCTYPE html>
<html th:replace="~{base/base :: base(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Articles | Pinterest</title>
</head>
<style>
    .bg::before {
        content: "";
        opacity: 0.5;
        position: absolute;
        background-color: #000;
    }
</style>
<body>

<main class="article">
  <div class="relative isolate px-6 lg:px-8">

    <th:block th:if="${!articles.isEmpty()}">
      <div class="max-w-2xl mx-auto mb-10">
        <form th:action="@{/articles}" method="get">
          <div class="flex items-center w-full px-4 py-2 bg-gray-200 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
            </svg>
            <input
                class="flex h-10 rounded-md border border-input px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full pl-2 bg-transparent focus:outline-none"
                placeholder="검색" type="search" name="searchKeyword" th:value="${param.searchKeyword}">
          </div>
        </form>
      </div>
      <div class="container">
        <th:block th:each="article: ${articles}">
          <!--TODO:: 무한 스크롤 기능 추가하기-->
          <!--TODO:: 검색 시 데이터가 없을 경우엔 생성된 아이디어가 없다는 문구가 안나오도록 설정하기-->
          <a th:href="@{/articles/{articleId}(articleId=${article.id})}">
            <div>
              <img th:src="|/image/${article.fileId}|" alt="">
            </div>
            <h6 class="mt-2" th:text="${article.title}">
              핀 이름
            </h6>
          </a>
        </th:block>
      </div>
    </th:block>

    <th:block th:if="${articles.isEmpty()}">
<!--      <div th:style="'background: url(/images/pinterest_bg.png) no-repeat center; background-size: cover;'"></div>-->
        <div class="absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
             aria-hidden="true">
          <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#e03d48] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
               style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              생성된 핀이 없습니다.
              <a th:href="@{/articles/form}" class="font-semibold text-red-600">
                <span class="absolute inset-0" aria-hidden="true"></span>핀 만들기 <span aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
             aria-hidden="true">
          <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#e03d48] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
               style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>

    </th:block>
    <script type="text/javascript" th:src="@{/js/magic-grid.js}"></script>
  </div>
</main>

</body>
</html>
